<!doctype html>
<html lang="es">
  {% load static %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit=no">
        <meta name="description" content="Registrar">
        <meta name="author" content="Parzibyte">
        <title>Registrarse</title>
        <!-- Cargar el CSS de Boostrap-->
        <link href="./css/bootstrap.min.css" rel="stylesheet">
        <link href="{% static 'css/register1.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
     
    </head>

    <body>
      
        <div class="container">
            <div class="row">
              <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card card-signin flex-row my-5">
                  <div class="card-img-left d-none d-md-flex">
                     <!-- Background image for card set in CSS! -->
                  </div>
                 <form method="POST" action="">
                   {% csrf_token %}
                    <div class="card-body">
                      <h5 class="card-title text-center">Registrarse</h5>
                      <form class="form-signin">
                        <div class="form-label-group">
                          {{form.username}}
                          <label for="inputUserame">Nombre Completo</label>
                        </div>
          
                        <div class="form-label-group">
                          {{form.email}}
                          <label for="inputEmail">Correo electronico</label>
                        </div>
                        
                        <hr>
          
                        <div class="form-label-group">
                          {{form.password1}}
                          <label for="inputPassword">Contraseña</label>
                        </div>
                        
                        <div class="form-label-group">
                          {{form.password2}}
                          <label for="inputConfirmPassword">Confirmar contraseña</label>
                        </div>
          
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Registrar </button>
                        {{form.errors}}
                        <a class="d-block text-center mt-2 small" href="/login/">Iniciar sesión</a>
                        
                      </form>
                    </div>
                  </form>   
                  </div>
                </div>
              
            </div>
            <p class="float-right"><a href="/">Volver a la pagina principal</a></p>
          </div>
          
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        </form> 
      </body>

</html>